.timeline {
  font-size: 1.2rem;
  shape-rendering: crispEdges;
}

.timeline__rect {
  fill: var(--category-1-color-alt);
  opacity: 0.75;
}

.timeline__rect:hover {
  opacity: 1;
}

.timeline__rect--97 {
  fill: var(--category-2-color-alt);
}

.legend {
  font-size: 1.2rem;
}

.legend__color-1 {
  fill: var(--category-1-color-alt);
}

.legend__color-2 {
  fill: var(--category-2-color-alt);
}

.legend__label {
  font-size: 1rem;
  font-weight: bold;
  fill: var(--dark-gray);
}

.timeline__year-label {
  font-size: 1rem;
  font-weight: bold;
  opacity: 0.75;
  pointer-events: none;
}
