html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 62.5%;
  background-color: white;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  width: 105rem;
  font-size: 1.6rem;
  margin: 0 auto;
}

.hidden {
  pointer-events: none;
  opacity: 0;
}

.timeline-tree {
  border: solid black 1px;
  margin: 0 auto;
  background-color: white;
}

.timeline-tree:first-of-type {
  margin-top: 7.5rem;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 35rem;

  background-color: lightslategray;
}

.nav__list {
  list-style: none;
  padding: 2.5rem 0 0 5rem;
}

.nav__item {
  display: inline-block;
  margin: 1rem 0.5rem;
}

.nav__item > .btn {
  width: 25rem;
}

.btn {
  height: 3.5rem;
  line-height: 2rem;
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
  padding: 1rem;
}

.btn:hover {
  background-color: lightsteelblue;
}

.btn--show {
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
  background-color: lightgreen;
}

.btn--show:hover {
  background-color: hsl(120, 30%, 55%);
}

.btn--hide {
  position: relative;
  top: 2.5rem;
  left: 2.5rem;
  background-color: lightcoral;
}

.btn--hide:hover {
  background-color: hsl(0, 79%, 62%);
}

.btn--selected {
  background-color: lightgreen;
}

.btn--selected:hover {
  background-color: hsl(120, 30%, 55%);
}

.btn--top-left {
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
}

.btn--relative {
  position: relative;
}

.register-selector {
  width: 25rem;
  list-style: none;
  padding: 1rem;
  font-size: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  background-color: white;
}
