html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.node__circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
  cursor: pointer;
}

.node__label {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

.timeline__section {
  fill: green;
  opacity: 0.75;
  stroke-width: 2.5;
  cursor: pointer;
}

.timeline__section:hover {
  opacity: 1;
}
