.tree__html-object {
  height: 1px;
  width: 1px;
}

.tree__html-label {
  width: 100px;
  text-align: center;
  margin: 0;
}

.tree__node-marker {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
  cursor: pointer;
}

.tree__node-label {
  font: 12px sans-serif;
}

.tree__link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}
