.card {
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card--strongShadow {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.simpleList {
  list-style: none;
  overflow-y: auto;
  padding: 1rem 0 0 0;
  font-size: 1.4rem;
}

.simpleList__button {
  width: 100%;
  margin: 1rem auto 0 auto;
}

.sidePanel {
  position: fixed;
  top: 5vh;
  transform: translateX(0);
  z-index: 10;

  display: flex;
  flex-direction: column;

  max-height: 90vh;
  width: 27.5rem;
  padding: 0;
  margin-left: 2.5rem;

  transition: transform 0.4s ease-in;
}

.sidePanel--closed {
  transform: translateX(-22.5rem);
  transition: transform 0.4s ease-out;
}

.sidePanel > * {
  opacity: 1;
  transition: opacity 0.4s ease-in;
}

.sidePanel--closed .sidePanel__langControls,
.sidePanel--closed .sidePanel__simpleList {
  opacity: 0;
  transition: opacity 0.4s ease-out;
}

.sidePanel__controls {
  display: flex;
  flex: 1;
  padding: 2.5rem;
  padding-bottom: 0;
}

.sidePanel__langControls {
  flex: 5;
  margin: auto 0;
}

.sidePanel__langSelector {
  color: var(--thl-gray);
  cursor: pointer;
  font-size: 1.6rem;
  text-decoration: underline;
  background: none;
  border: none;
}

.sidePanel__langSelector--selected {
  color: var(--thl-blue);
  font-weight: bold;
  text-decoration: none;
  cursor: auto;
}

.sidePanel__toggleControl {
  flex: 1;
  transform: rotateY(0deg);

  border: none;
  background: none;

  color: black;
  opacity: 0.9;
  cursor: pointer;
  transition: 0.1s linear;
}

.sidePanel__toggleControl > img {
  height: 4rem;
}

.sidePanel__toggleControl--rotate {
  transform: rotateY(180deg);
  transition: 0.1s linear;
}

.sidePanel__toggleControl:hover {
  opacity: 1;
  transform: scale(1.1);
}

.sidePanel__toggleControl--rotate:hover {
  transform: rotateY(180deg) scale(1.1);
}

.sidePanel__simpleList {
  flex: 1;
  padding: 2.5rem;
  padding-top: 0;
  margin: 0;
}

.registerItem {
  margin: 0.25rem 0;
  font-size: 1.2rem;
}

.registerItem > input,
.registerItem > label {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}
.registerItem > input {
  width: 10%;
  margin: 0.1rem 0;
}

.registerItem > label {
  width: 80%;
}

.register__item {
  margin: 0.5rem 0;
}

.button {
  height: 3.5rem;
  line-height: 2rem;
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
  padding: 1rem;
  background-color: var(--light-gray);
}

.button:hover {
  background-color: var(--medium-gray);
}

.button--selected {
  background-color: lightgreen;
}

.button--selected:hover {
  background-color: hsl(120, 30%, 55%);
}
