.yearControl {
  display: flex;
  width: 40rem;
  padding: 0 4rem;
}

.input-range__slider {
  background: var(--thl-blue);
  border: 1px solid var(--thl-blue);
  z-index: 10;
}

.input-range__slider:focus {
  box-shadow: 0 0 0 5px rgba(10, 187, 182, 0.4);
}

.input-range__track--active {
  background: var(--thl-blue);
}

.input-range__label--min,
.input-range__label--max {
  font: 1.2rem sans-serif;
  font-weight: bold;
  bottom: -0.25rem;
}

.input-range__label--min {
  left: -2rem;
}

.input-range__label--max {
  right: -2rem;
}

.input-range__label--value {
  color: var(--thl-dark-gray);
  font: 1.2rem sans-serif;
  top: auto;
  bottom: -1.75rem;
}
