.cohortItem {
  cursor: pointer;
  border: none;
  font-size: 1.2rem;
  color: var(--thl-ui-text);
  background-color: var(--thl-gray-1);
  margin-right: 0.5rem;
  padding: 0.25rem 0.5rem;
}

.cohortItem:hover {
  background-color: var(--thl-gray-2);
}

.cohortItem--selected {
  color: white;
  background-color: var(--category-2-color-v-light);
}

.cohortItem--selected:hover {
  background-color: var(--category-2-color-light);
}
