.timeline-tree-wrapper {
  margin: 2.5rem 0;
  position: relative;
  z-index: 5;
}

.timeline-tree-wrapper.card--collapsed {
  margin: 0;
}

.year-control-title {
  font-size: 1.2rem;
  color: var(--thl-ui-text);
  text-align: center;
  margin: 0 0 1rem 0;
}
