.sidePanel {
  position: fixed;
  top: 5vh;
  transform: translateX(0);
  z-index: 10;

  display: flex;
  flex-direction: column;

  max-height: 90vh;
  width: 27.5rem;
  padding: 0;
  margin-left: 2.5rem;

  transition: transform 0.4s ease-in;
}

.sidePanel--closed {
  transform: translateX(-22.5rem);
  transition: transform 0.4s ease-out;
}

.sidePanel > * {
  opacity: 1;
  transition: opacity 0.4s ease-in;
}

.sidePanel--closed .sidePanel__langControls,
.sidePanel--closed .sidePanel__simpleList {
  opacity: 0;
  transition: opacity 0.4s ease-out;
}

.sidePanel__controls {
  display: flex;
  flex: 1;
  padding: 2.5rem;
  padding-bottom: 0;
}

.sidePanel__langControls {
  flex: 5;
  margin: auto 0;
}

.sidePanel__langSelector {
  color: var(--thl-ui-text);
  cursor: pointer;
  font-size: 1.6rem;
  text-decoration: underline;
  background: none;
  border: none;
}

.sidePanel__langSelector--selected {
  color: var(--thl-blue);
  font-weight: bold;
  text-decoration: none;
  cursor: auto;
}

.sidePanel__toggleControl {
  flex: 1;
  transform: rotateY(0deg);

  border: none;
  background: none;

  color: black;
  opacity: 0.9;
  cursor: pointer;
  transition: 0.1s linear;
}

.sidePanel__toggleControl > img {
  height: 4rem;
}

.sidePanel__toggleControl--rotate {
  transform: rotateY(180deg);
  transition: 0.1s linear;
}

.sidePanel__toggleControl:hover {
  opacity: 1;
  transform: scale(1.1);
}

.sidePanel__toggleControl--rotate:hover {
  transform: rotateY(180deg) scale(1.1);
}

.sidePanel__simpleList {
  flex: 1;
  padding: 2.5rem;
  padding-top: 0;
  margin: 0;
}
