.content-wrapper {
  display: flex;
  flex-direction: row;
  margin-right: 2.5rem;
}

.sidebar-placeholder {
  flex: 0 1 31rem;
  min-width: 8rem;
}

.chart-area {
  width: 105rem;
  margin: 0 auto;
  position: relative;
}

.info-header {
  position: absolute;
  top: 10rem;
  z-index: 0;

  font-size: 1.6rem;
  color: var(--thl-ui-text);
  width: 30rem;
  margin-left: 25rem;
  text-align: center;
}
