.button {
  min-height: 3.5rem;
  line-height: 2rem;
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
  padding: 1rem;
  background-color: var(--thl-gray-1);
  color: var(--thl-ui-text);
}

.button:hover {
  background-color: var(--thl-gray-2);
}

.button--selected {
  background-color: var(--category-1-color-v-light);
}

.button--selected:hover {
  background-color: var(--category-1-color-light);
}
