.timeline {
  font-size: 1.2rem;
  shape-rendering: crispEdges;
}

.timeline__title {
  fill: var(--thl-ui-text);
}

.timeline__separator {
  stroke-width: 1;
  stroke: var(--thl-ui-text);
  stroke-dasharray: 4;
}

.timeline__rect {
}

.timeline__rect:hover {
  opacity: 0.5;
}

.timeline__year-label {
  font-size: 1rem;
  font-weight: bold;
  pointer-events: none;
  fill: var(--thl-gray-6);
}

.timeline__axis {
  shape-rendering: crispEdges;
}

.timeline__axis .domain,
.timeline__axis .tick > line {
  stroke: var(--thl-gray-4);
  stroke-width: 1;
}

.timeline__axis .tick > text {
  fill: var(--thl-gray-4);
  font-size: 1rem;
  font-weight: bold;
}

.legend {
  font-size: 1.2rem;
}

.fill-color-1 {
  fill: var(--category-1-color);
}

.fill-color-2 {
  fill: var(--category-2-color);
}

.fill-color-3 {
  fill: var(--category-3-color);
}

.fill-color-4 {
  fill: var(--category-4-color);
}

.fill-color-5 {
  fill: var(--category-5-color);
}

.fill-color-6 {
  fill: var(--category-6-color);
}

.fill-color-7 {
  fill: var(--category-7-color);
}

.fill-color-8 {
  fill: var(--category-8-color);
}

.fill-color-9 {
  fill: var(--category-9-color);
}

.fill-color-10 {
  fill: var(--category-10-color);
}

.fill-color-11 {
  fill: var(--category-11-color);
}

.fill-color-12 {
  fill: var(--category-12-color);
}

.fill-color-13 {
  fill: var(--category-13-color);
}

.fill-color-14 {
  fill: var(--category-14-color);
}

.fill-color-15 {
  fill: var(--category-15-color);
}

.fill-color-16 {
  fill: var(--category-16-color);
}

.fill-color-17 {
  fill: var(--category-17-color);
}

.legend__label {
  font-size: 1rem;
  font-weight: bold;
  fill: var(--thl-ui-text);
}
