.timeline {
  font-size: 1.2rem;
  shape-rendering: crispEdges;
}

.timeline__title {
  fill: var(--thl-ui-text);
}

.timeline__separator {
  stroke-width: 1;
  stroke: var(--thl-ui-text);
  stroke-dasharray: 4;
}

.timeline__rect {
}

.timeline__rect:hover {
  opacity: 0.5;
}

.timeline__year-label {
  font-size: 1rem;
  font-weight: bold;
  pointer-events: none;
  fill: var(--thl-gray-6);
}

.timeline__axis {
  shape-rendering: crispEdges;
}

.timeline__axis .domain,
.timeline__axis .tick > line {
  stroke: var(--thl-gray-4);
  stroke-width: 1;
}

.timeline__axis .tick > text {
  fill: var(--thl-gray-4);
  font-size: 1rem;
  font-weight: bold;
}

.legend {
  font-size: 1.2rem;
}

.fill-color-1 {
  fill: var(--category-1-color-v-light);
}

.fill-color-2 {
  fill: var(--category-2-color-v-light);
}

.fill-color-3 {
  fill: var(--category-3-color-light);
}

.fill-color-4 {
  fill: var(--category-4-color-light);
}

.fill-color-5 {
  fill: var(--category-5-color-light);
}

.fill-color-6 {
  fill: var(--category-6-color-light);
}

.legend__label {
  font-size: 1rem;
  font-weight: bold;
  fill: var(--thl-ui-text);
}
