html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 62.5%;
  background-color: var(--thl-background);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.vanish {
  display: none;
}

:root {
  --category-1-color: #4e79a7;

  --category-2-color: #f18f3b;

  --category-3-color: #e0585b;

  --category-4-color: #76b7b2;

  --category-5-color: #59a14e;

  --category-6-color: #edc942;

  --category-7-color: #af7aa0;

  --category-8-color: #fe9ea8;

  --category-9-color: #9c755f;

  --category-10-color: #bab0ac;

  --category-11-color: #4e79a7;

  --category-12-color: #f18f3b;

  --category-13-color: #e0585b;

  --category-14-color: #76b7b2;

  --category-15-color: #59a14e;

  --category-16-color: #edc942;

  --category-17-color: #e0585b;

  --dark-gray: hsl(0, 0%, 38%);
  --medium-gray: hsl(255, 3%, 77%);
  --light-gray: hsl(210, 9%, 87%);
  --v-light-gray: rgb(241, 242, 243);

  /* Colours below are from here: https://yhteistyotilat.fi/wiki08/pages/viewpage.action?pageId=21561358 */
  --thl-background: hsl(0, 0%, 95%);
  --thl-ui-text: hsl(0, 0%, 38%);
  --thl-main-text: hsl(0, 0%, 19%);
  --thl-link: hsl(205, 100%, 33%);
  --thl-highlight: hsl(38, 96%, 54%);

  --thl-turquoise: hsl(180, 92%, 32%);
  --thl-blue: hsl(207, 66%, 42%);
  --thl-lila: hsl(266, 36%, 59%);
  --thl-pink: hsl(311, 46%, 52%);
  --thl-red: hsl(339, 65%, 55%);
  --thl-brown: hsl(36, 90%, 37%);
  --thl-cyan: hsl(193, 65%, 46%);

  --thl-primary-1: hsl(97, 60%, 43%);
  --thl-primary-1-light: hsl(97, 60%, 55%);
  --thl-primary-1-v-light: hsl(97, 60%, 70%);
  --thl-primary-1-vv-light: hsl(97, 60%, 85%);
  --thl-primary-2: hsl(216, 57%, 43%);
  --thl-primary-2-light: hsl(216, 57%, 55%);
  --thl-primary-2-v-light: hsl(216, 57%, 70%);
  --thl-primary-2-vv-light: hsl(216, 57%, 85%);

  --thl-gray-1: hsl(0, 0%, 85%);
  --thl-gray-2: hsl(0, 0%, 70%);
  --thl-gray-3: hsl(0, 0%, 55%);
  --thl-gray-4: hsl(0, 0%, 40%);
  --thl-gray-5: hsl(0, 0%, 25%);
  --thl-gray-6: hsl(0, 0%, 10%);

  /* apparently these greens should only be used  in thl.fi*/
  --thl-green: hsl(93, 50%, 51%);
  --thl-dark-green: hsl(101, 53%, 40%);
}

@media print {
  aside.nav {
    display: none;
  }

  .sidebar-placeholder {
    display: none;
  }

  .timeline-tree-wrapper {
    page-break-after: always;
  }

  .timeline-tree-wrapper.card {
    box-shadow: none;
  }

  .card__year-control {
    opacity: 0;
  }

  .rc-slider-tooltip {
    display: none;
  }
}
