html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 62.5%;
  background-color: #e2e1e0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.vanish {
  display: none;
}

:root {
  --category-1-color: #519b2f;
  --category-1-color-alt: #7bc143;
  --category-1-color-light: hsl(93, 50%, 61%);
  --category-2-color: #2f62ad;
  --category-2-color-alt: #29a0c1;
  --category-2-color-light: hsl(193, 65%, 56%);
  --category-3-color: #be3f72;
  --category-3-color-alt: #cc77ac;
  --category-4-color: #faa61a;

  --dark-gray: #606060;
  --medium-gray: #c3c2c6;
  --light-gray: #dcdfe2;
  --v-light-gray: hsl(210, 9%, 95%);

  --thl-green: rgb(123, 193, 67);
  --thl-gray: rgb(128, 127, 131);
  --thl-orange: rgb(250, 166, 26);
  --thl-red: rgb(237, 22, 81);
  --thl-ruby: rgb(226, 0, 119);
  --thl-lila: rgb(177, 154, 202);
  --thl-blue: rgb(81, 145, 205);
  --thl-turquoise: rgb(10, 187, 182);
}

@media print {
  aside.nav {
    display: none;
  }

  .sidebar-placeholder {
    display: none;
  }

  .timeline-tree-wrapper {
    page-break-after: always;
  }

  .timeline-tree-wrapper.card {
    box-shadow: none;
  }

  .card__year-control {
    opacity: 0;
  }

  .rc-slider-tooltip {
    display: none;
  }
}
